[Unit]
Description=Servidor Interno
After=network.target

[Service]
ExecStart=/usr/local/bin/server_interno
Restart=always
LimitNOFILE=500000
LimitMEMLOCK=infinity

[Install]
WantedBy=multi-user.target
Alias=server_interno.service
