[Unit]
Description=MetalPlayer Server
After=network.target

[Service]
ExecStart=/usr/local/bin/metalplayer
Restart=always
LimitNOFILE=500000
LimitMEMLOCK=infinity

[Install]
WantedBy=multi-user.target
Alias=metalplayer-service.service
