#files {
    border-collapse: collapse;
    border-spacing: 0;
    width: 75%;
    border: 1px solid #ddd;
}

th, td {
    border: none;
    text-align: left;
    padding: 8px;
}

#directory { 
    width: 40%;
}

#saved_files { 
    color: #2E8B57;
    font-weight: 500;
}